.git
.svn
.hg
.zip
.gz
.target
.idea/
target/
.settings
.nbproject
.classpath
.project
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
node/
paimon-web-ui/.idea
paimon-web-ui/auto-imports.d.ts
paimon-web-ui/components.d.ts
paimon-web-ui/.eslintrc-auto-import.json
paimon-web-ui/httpData
paimon-web-ui/apiWeb.json
logs/*
.mvn/
.www
t.*
.factorypath
Chart.lock
yarn.lock
package-lock.json
.cache.metadata
target
.version.properties
*.class
*.swp
*.jar
*.zip
*.pyc
dependency-reduced-pom.xml
*.dependency-reduced-pom.xml
!.idea/paimon.svg
**/dist/**
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
