/* Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License. */

.catalog-tree-input {
  //background-color: var(--semi-color-bg-0);
  width: 347px;
  margin-left: -12px;
}

.liClass {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.iconPlus {
  position: absolute;
  right: 40px;
  padding: 2px;
  transition: all 0.2s ease-in-out; /* Add transition effect */
  border: none;
  color: #000;
  font-size: 12px; /* Small size for the "+" icon in the initial state */
  visibility: hidden; /* Hide the "+" icon in the initial state */
  border-radius: 50%; /* Add border radius */
  background: transparent; /* Transparent background in the initial state */
}

.liClass:hover .iconPlus{
  visibility: visible; /* Show the "+" icon when hovering over the entire node */
  border: none;
  color: #000;
  font-size: 12px;
  background: transparent;
}

.liClass .iconPlus:hover{
  border: 1px solid #d3d3d3; /* Gray border when hovering over the "+" icon */
  color: #d3d3d3; /* Gray color when hovering over the "+" icon */
  font-size: 16px; /* Increase the size of the "+" icon when hovering */
  background: #fff; /* White background when hovering over the "+" icon */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.iconMore {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  margin-right: 12px;
  color: #000;
}

.liClass:hover .iconMore {
  visibility: visible;
}

.semi-tree-node-selected {
  color: rgba(var(--semi-blue-5), 1) !important;
}

.icon {
  margin-right: 8px;
  color: var(--semi-color-text-2);
}

