<?xml version="1.0" encoding="UTF-8" ?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.paimon.web.server.mapper.RoleMenuMapper">

	<resultMap type="org.apache.paimon.web.server.data.model.RoleMenu" id="SysRoleMenuResult">
		<result property="id"         column="id"           />
		<result property="roleId"     column="role_id"      />
		<result property="menuId"     column="menu_id"      />
	</resultMap>
	
	<select id="checkMenuExistRole" resultType="Integer">
	    select count(1) from role_menu where menu_id = #{menuId} limit 1
	</select>

	<select id="queryRoleMenuByUser" resultMap="SysRoleMenuResult">
		select *
		from role_menu
		where role_id in (select role_id
						  from user_role
						  where user_id = #{userId})
	</select>

	<delete id="deleteRoleMenuByRoleId" parameterType="Integer">
		delete from role_menu where role_id=#{roleId}
	</delete>
	
	<delete id="deleteRoleMenu" parameterType="Integer">
 		delete from role_menu where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleMenu">
		insert into role_menu(role_id, menu_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.menuId})
		</foreach>
	</insert>
	
</mapper> 